<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wms.entity.Department">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="role" property="role" />
        <result column="department" property="department"/>
        <result column="pid" property="pid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, role, department,pid
    </sql>

    <!-- 使用实体类的属性名映射查询结果 -->
    <select id="pageCC" resultMap="BaseResultMap"> <!-- 更新此行 -->
        select * from department ${ew.customSqlSegment}
    </select>

</mapper>