<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wms.entity.Menu">
        <id column="id" property="id" />
        <result column="menu_code" property="menuCode" />
        <result column="menu_name" property="menuName" />
        <result column="menu_level" property="menuLevel" />
        <result column="menu_click" property="menuClick" />
        <result column="menu_right" property="menuRight" />
        <result column="menu_component" property="menuComponent" />
        <result column="menu_icon" property="menuIcon" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_code, menu_name, menu_level, menu_click, menu_right, menu_component, menu_icon
    </sql>
    <select id="pageCC" resultType="com.wms.entity.Menu">
        select * from menu ${ew.customSqlSegment}
    </select>

</mapper>
